<h1>JSON Pretty Print</h1>

<center>
<p>
  A simple <em>JSON pretty printer</em>.
</p>
<p>
  Put JSON in the text area below, click the "<i>Pretty Print JSON</i>" button, and see <em>pretty printed JSON</em>.
</p>

<%= render 'form', beautify: @beautify %>
</center>

